body{
    background-image: url(/img/todo-lists-5238324_1280.jpg);
}
   /* .section_1{
    margin-top: 3rem;
       display: flex;
       justify-content: space-around;
   } */
   /* .section_1 button{
       padding: 10px 50px;
   } */
   /* .search{
       border: 2px solid black;
       padding: 10px 30px;
       border-radius: 10px;
       background-color: rgb(55, 138, 171);
       width: 40%;
       display: flex;
       justify-content: space-between;
   } */
   /* .search input{
       outline: none;
       background-color:rgb(55, 171, 161) ;
   
   } */
   /* input::placeholder{
       color: black;
   }
    */
   .section_2{
       /* border: 1px solid red; */
   
       /* display: flex; */
       /* display: grid;
       grid-template-columns: repeat(3,1fr);
        /* border: 2px solid red;  */
       /* width: 80%;
       margin:10% 12%; */ */
   }
   .todo{
     /* border: 1px solid black;  */
       /* width: 80%;
       color: rgb(86, 82, 82);
       font-size: 13px; */
   }
   
   .todo1 h1{
       font-size: 20px;
       border: 2px solid red;
       padding: 10px 20px;
       /* border-top: none;
       border-left: none;
       border-right: none; */
       padding-left: 1px;
       color: gray;
   }
   .todo span{
     border: 1px solid rgb(204, 198, 198);
     border-top: none;
     border-right: none;
     border-bottom: none;
     margin-left: 10px;
     padding: 0 15px;
     height: 2px;
   }
   .todo2{
       border: 1px solid red;
       margin-top: 20px;
       border-left: 3px solid red;
       padding:10px 20px;
       border-radius: 5px;
   }
   .todo3{
       border: 1px solid blue;
       margin-top: 20px;
       border-left: 3px solid blue;
       padding:10px 20px;
       border-radius: 5px;
   }
   .todo4{
       border: 1px solid blue;
       margin-top: 20px;
       border-left: 3px solid blue;
       padding:10px 20px;
       border-radius: 5px;
   }
   .in-progress{
    width: 80%;
    color: rgb(86, 82, 82);

    font-size: 13px;
}
.in-progress h1{
    font-size: 20px;
    border: 2px solid #def50b;
    padding: 10px 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 1px;
    color: gray;

}
.in-progress span{
    border: 1px solid rgb(204, 198, 198);
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin-left: 10px;
    padding: 0 15px;
    height: 2px;
  }
  .in-progress2{
    border: 1px solid blue;
    margin-top: 20px;
    border-left: 3px solid blue;
    padding:10px 20px;
    border-radius: 5px;

  }
.done{
    width: 80%;
    color: rgb(36, 33, 33);

    font-size: 13px;
  }
  .done1 h1{
    font-size: 20px;
    border: 2px solid rgb(126, 170, 45);
    padding: 10px 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 1px;
    color: gray;
  }
  .done1 span{
    border: 1px solid rgb(204, 198, 198);
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin-left: 10px;
    padding: 0 15px;
    height: 2px;
  }
  .done2{
    border: 1px solid black;
    margin-top: 20px;
    /* border-left: 3px solid red; */
    padding:10px 20px;
    border-radius: 5px;
  }
  .done3{
    border: 1px solid black;
    margin-top: 20px;
    border-left: 3px solid black;
    padding:10px 20px;
    border-radius: 5px;
  }
 
 .delete, .edit{
 color: white;
  font-size: 10px;
  padding: 5px;
  margin: 6px 0;
  background-color: #f59e0b;
 }
 .delete{
  background-color: red;
}
@media (max-width:768px){
  .section1{
    width: 100%;
 
  }
  .section1 button{
    width: 100px;
    height: 35px;
    font-size: 10px;
    padding: 10px;
  }
  .search{
    margin-top: -7px;
    width: 45%;

  }
 .search input{
 margin-left: -25px;
 
 }
 input::placeholder{
  font-size: 13px;
 }
 .search i{
  font-size: 13px;
  margin-top: 10px
 }
 .section2{
  display: block;
  margin: 60px 80px ;
 }
 .in-progress, .done{
  margin-top: 30px;
 }
}